<h1>Detalles de la Publicaci贸n</h1>

<p><strong>Autor:</strong> <%= @post.user.username %></p>
<p><strong>Contenido:</strong> <%= @post.content %></p>

<h2>Comentarios</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>
      <%= comment.anonymous ? "An贸nimo" : (comment.user.present? ? comment.user.email : "Usuario") %>:
    </strong>
    <%= comment.content %>
  </p>
<% end %>


<h2>Reaccionar a esta publicaci贸n</h2>

<%= form_with url: post_reactions_path(@post), method: :post, local: true do |form| %>
  <%= form.hidden_field :like, value: true %>
  <%= form.submit "Me gusta" %>
<% end %>

<%= form_with url: post_reactions_path(@post), method: :post, local: true do |form| %>
  <%= form.hidden_field :like, value: false %>
  <%= form.submit "No me gusta" %>
<% end %>

<h3>Reacciones</h3>
<p>Me gusta: <%= @post.reactions.where(like: true).count %></p>
<p>No me gusta: <%= @post.reactions.where(like: false).count %></p>


<h2>Agregar un comentario</h2>

<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <div>
    <%= form.label :content, "Comentario" %>
    <%= form.text_area :content %>
  </div>
  
  <div>
    <%= form.label :anonymous, "Comentar como an贸nimo" %>
    <%= form.check_box :anonymous %>
  </div>
  
  <div>
    <%= form.submit "Publicar comentario" %>
  </div>
<% end %>